
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans ',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(26, 176, 176);
}

.wrapper{
    width: 70vh;
    height: 70vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background: rgb(96, 238, 190);
    border-radius: 5px;
    box-shadow: 0 20px 40px rgb(4, 70, 48);
}
.game-details{
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board{
    width: 100%;
    height: 100%;
    background-color: rgb(233, 126, 144);
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background: #eaff00;
    border-radius: 50%;
  }
  .play-board .head {
    background: aqua;
    border-radius: 50%;
  }
 

