
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans ',sans-serif;
}

body{
  text-align: center;
  display: grid;
 align-items: left;
 justify-content: center;
  min-height: 100vh;
 background-image: url('https://cdn.wallpapersafari.com/66/44/zldaLS.jpg' );
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 position: relative; 
}

.wrapper{
  width: 70vh;
  height: 70vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 20px 40px rgb(4, 70, 48);
}
.game-details{
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}



.play-board {
width: 100%;
height: 100%;
background-color: transparent;
opacity: 0.7; 
 background-image: url('https://cdn.wallpapersafari.com/66/44/zldaLS.jpg' );
 background-position: center;
background-size: cover;
display: grid;
grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}


.play-board .food {
  background :red;
  border-radius: 50%;

}



.play-board .head {
  background:green;
  border-radius: 50%;
}
